@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Bold.eot');
    src: url('../fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-Bold.woff2') format('woff2'),
    url('../fonts/TTLakes-Bold.woff') format('woff'),
    url('../fonts/TTLakes-Bold.ttf') format('truetype'),
    url('../fonts/TTLakes-Bold.svg#TTLakes-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
/*
@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-DemiBold.eot');
    src: url('../fonts/TTLakes-DemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-DemiBold.woff2') format('woff2'),
    url('../fonts/TTLakes-DemiBold.woff') format('woff'),
    url('../fonts/TTLakes-DemiBold.ttf') format('truetype'),
    url('../fonts/TTLakes-DemiBold.svg#TTLakes-DemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}*/

@font-face {
    font-family: '../fonts/TT Lakes';
    src: url('../fonts/TTLakes-Light.eot');
    src: url('../fonts/TTLakes-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-Light.woff2') format('woff2'),
    url('../fonts/TTLakes-Light.woff') format('woff'),
    url('../fonts/TTLakes-Light.ttf') format('truetype'),
    url('../fonts/TTLakes-Light.svg#TTLakes-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Regular.eot');
    src: url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-Regular.woff2') format('woff2'),
    url('../fonts/TTLakes-Regular.woff') format('woff'),
    url('../fonts/TTLakes-Regular.ttf') format('truetype'),
    url('../fonts/TTLakes-Regular.svg#TTLakes-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}





.body1{
    font-family: 'TT Lakes', 'SansSerif';
    margin: 0;
    padding: 0;
    max-width: 320px;

}
@media   (min-width: 769px) {
    .body1{
        max-width: 769px;

    }}

@media (min-width: 1120px) {
    .body1{
    max-width: 1120px; }}





.page-header {


}

@media (min-width: 1120px) {
    .page-header {
        display: none;
        max-width: 1120px; }}


/*HEADER HIER*/
.navigation1 {
    display: flex;
    justify-content: space-around;
    align-items: center;


    max-width: 320px;
   height: 88px;
    margin-top: auto;
    margin-bottom: auto;




}
@media (min-width: 769px)  {
    .navigation1
{
        max-width: 769px; }}

@media (min-width: 1120px) {
    .navigation1
{
        max-width: 1120px; }}


.navigation1__logo{
    order: 0;
    margin: 0;
    padding: 0;
}

@media  (min-width: 769px)  {
    .navigation1__logo{


    }}

@media (min-width: 1120px) {
    .navigation1__logo{


    }}

.navigation1__decoration{
    order: 0;
display: none;
}

@media   (min-width: 769px)  {
    .navigation1__decoration{
display: block;
        order: 1;
    }}

@media (min-width: 1120px) {
    .navigation1__decoration{


    }}

.navigation1__decoration1{


}

@media   (min-width: 769px)  {
    .navigation1__decoration1{

        order: -1;
    }}

@media (min-width: 1120px) {
    .navigation1__decoration1{


    }}


@media   (min-width: 769px) {
    .navigation1__decoration{

        order: 1;
    }}

@media (min-width: 1120px) {
    .navigation1__decoration{


    }}

.navigation1__burger {
    order: -2;
}

.navigation1__call {
    display: none
}


@media   (min-width: 769px) {
.navigation1__call{
    display: flex;
    order: 0;
     }}

@media (min-width: 1120px) {
    .navigation1__call{
        display: flex;

        }}


.navigation1__chat{
    display: none;
}

@media   (min-width: 769px) {
    .navigation1__chat{
        display: flex;
        order: 0;
    }}

@media (min-width: 1120px) {
    .navigation1__chat{
        display: flex;
        order: 0;
    }}

.navigation1__profile{
    display: none;
}
@media   (min-width: 769px) {
    .navigation1__profile{
        display: flex;
    }}

@media (min-width: 1120px) {
    .navigation1__profile {
        display: flex;
    }}

.navigation1__repair{

}

@media   (min-width: 769px) {
    .navigation1__repair{
        display: flex;
        order: 1;
    }}

@media (min-width: 1120px) {
    .navigation1__repair{
        display: flex;
        order: 0;
    }}

.navigation1__checkstatus{

}
@media   (min-width: 769px) {
    .navigation1__checkstatus{
        display: flex;
        order: 1;
    }}

@media (min-width: 1120px) {
    .navigation1__checkstatus {
        display: flex;
    }}

.page-main{

    background-color: #F8F8F8;
    border-top: 1px solid #B8FFEC ;
}

@media   (min-width: 769px) {
    .page-main{



    }}

@media (min-width: 1120px) {
    .page-main {
        border-top: none ;
        min-width: 1120px


    }}



.page-main__title {
    padding-top: 24px;
    padding-bottom: 24px;

    display: flex;
}



@media (min-width: 769px) {

{display: flex;
    margin-right: auto;
    margin-top: auto;
        max-width: 769px; }}

@media (min-width: 1120px) {
    .page-main__title
{

    justify-content: space-between;
        max-width: 1120px; }}



.page-main__title_text{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 12px;
    padding: 0;

}

@media (min-width: 769px) {
    .page-main__title_text
{
        max-width: 769px; }}

@media (min-width: 1120px) {
    .page-main__title_text
{margin-top: auto;


    margin-left: 34px;
         }}

.page-main__title_textTI {
display: flex;
    justify-content: left;
}

/* BUTTON */
.page-main__button{
    display: none;
}
@media (min-width: 769px) {

{
    max-width: 769px; }}

@media (min-width: 1120px) {
    .page-main__button
{ display: flex;

        max-width: 1120px; }}

.page-main__button_repair{
    padding: 0;
    border: none;
    background: none;
    border-style: none;
    font-family: 'TT Lakes', 'SansSerif';
    font-weight: bold;
    font-style: normal;
    font-display: swap;
justify-content: center;}

.page-main__button_checkstatus {
    padding: 0;
    border: none;
    background: none;
    border-style: none;
    font-family: 'TT Lakes', 'SansSerif';
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    align-items: center;
    justify-content: center;
}


.navigation2{

   max-width: 320px;
}


@media (min-width: 769px)  {
.navigation2
{
    display: block;


max-width: 768px;
    }}

@media (min-width: 1120px) {
    .navigation2
    {
        max-width: 1120px; }}


/* ЗДЕСЬ ССЫЛКИ*/
.navigation2__list{
    white-space: nowrap;

    margin: 0;
    padding: 0;

    display: flex;
    max-width: 100%;
margin-left: 16px;



  /*  align-items: flex-start; */
    /*display: flex;
    justify-content: space-between;
       max-width: 320px; */
    overflow: scroll;
  overflow-y: hidden;
    overflow-x: hidden;
}

@media (min-width: 769px) {
.navigation2__list
{

    margin-left: 24px;
    max-width: 769px; }}

@media (min-width: 1120px) {
    .navigation2__list
{ overflow: hidden ;
        flex-wrap: wrap;
        margin-left: auto;
        margin-left: 34px;
    max-width: 1120px; }}



.navigation2__item{
    list-style-type: none;

padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;

}

@media (min-width: 769px) {

{
        max-width: 769px; }}

@media (min-width: 1120px) {

{
        max-width: 1120px; }}

.navigation2__link {

font-size: 1.2em;

    text-decoration: none;
    color: #7E7E82;


}

@media (min-width: 1120px) {
    .navigation2__link
{ display: flex;
        flex-wrap: wrap;
    max-width: 1120px; }}

.navigation2__link:hover {
border: solid;
    border-radius: 5px;
    border-color: #B8FFEC;
    cursor: pointer;
    background-color: #ffffff;
    /*border-right: 9.3px;
    border-left: 6.54px;
    border-bottom: 8px;
    border-top: 8px;*/

}




.post{


}

@media (min-width: 769px)  {
    .post
    {

    display: flex;

    }}

@media (min-width: 1120px) {
    .post
    {
        max-width: 1120px; }}

.post__text{
    margin-left: 16px;
}
@media (min-width: 769px) {
    .post__text
{width: 312px;
        margin-left: 24px;

    }}

@media (min-width: 1120px){
    .post__text{
        margin-left: 34px;
        width: 490px;
     }}


.logo-foto{
    width: 320px;

}

@media (min-width: 769px) {
    .logo__foto {
        width: 360px;
    }}

@media (min-width: 1120px){
    .logo__foto
    {
        width: 531px;
    }}





summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

summary::before {
    content: url('../img/icon.svg');
    padding-right: 0.5em;
}

details[open] > summary::before {
    content: url('../img/icon.svg');
}